/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */


/* =============================================================================
   HTML5 element display
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio[controls], canvas, video { display: inline-block; *display: inline; *zoom: 1; }


/* =============================================================================
   Base
   ========================================================================== */

/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 *    http://clagnut.com/blog/348/#c790
 * 2. Force vertical scrollbar in non-IE
 * 3. Remove Android and iOS tap highlight color to prevent entire container being highlighted
 *    www.yuiblog.com/blog/2010/10/01/quick-tip-customizing-the-mobile-safari-tap-highlight-color/
 * 4. Prevent iOS text size adjust on device orientation change, without disabling user zoom
 *    www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/
 */

html { font-size: 100%; overflow-y: scroll; -webkit-overflow-scrolling: touch; -webkit-tap-highlight-color: rgba(0,0,0,0); -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

body { margin:50px 0px; font-size: 13px; line-height: 1.231; padding:20px;
    text-align:center; }

body, button, input, textarea { font-family: sans-serif; color: #222; }

/* =============================================================================
   Links
   ========================================================================== */

a { text-decoration:none; color: #000; }
a:visited { color: #000; }
a:focus { outline: thin dotted; }

/* Improve readability when focused and hovered in all browsers: people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active { outline: 0; }


/* =============================================================================
   Typography
   ========================================================================== */

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

blockquote { margin: 1em 40px; }

dfn { font-style: italic; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

ins { background: #ff9; color: #000; text-decoration: none; }

mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }

/* Redeclare monospace font family: en.wikipedia.org/wiki/User:Davidgothberg/Test59 */
pre, code, kbd, samp { font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 1em; }

/* Improve readability of pre-formatted text in all browsers */
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }

small { font-size: 85%; }

/* Position subscript and superscript content without affecting line-height: gist.github.com/413930 */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }


/* =============================================================================
   Lists
   ========================================================================== */

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; margin: 0; padding: 0; }


/* =============================================================================
   Embedded content
   ========================================================================== */

/*
 * Improve image quality when scaled in IE7
 * code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
 */

img { border: 0; -ms-interpolation-mode: bicubic; }

/*
 * Correct overflow displayed oddly in IE9 
 */

svg:not(:root) {
    overflow: hidden;
}


/* =============================================================================
   Figures
   ========================================================================== */

figure { margin: 0; }


/* =============================================================================
   Forms
   ========================================================================== */

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

/* 
 * 1. Correct color not inheriting in IE6/7/8/9 
 * 2. Correct alignment displayed oddly in IE6/7 
 */

legend { border: 0; *margin-left: -7px; padding: 0; }

/* Indicate that 'label' will shift focus to the associated form element */
label { cursor: pointer; }

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */


input,  textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 * 2. Correct inner spacing displayed oddly in IE6/7
 */

 input { line-height: normal; *overflow: visible; }

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 */
input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; 
	color:rgba(0,0,0,0.72)!important;
	font-size:17px;font-weight:bold;
	font-family:Arial,'Helvetica Neue',Helvetica,sans-serif;
	line-height:40px;
	text-align:center;
	text-decoration:none;text-shadow:0 1px 1px rgba(255,255,255,0.37);
	background:url('button_submit.gif') no-repeat left 0;
	border:1px solid #2a3f56;-moz-border-radius:6px;-webkit-border-radius:6px;border-radius:6px;-moz-box-shadow:0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(255,255,255,0.7) inset;-webkit-box-shadow:0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(255,255,255,0.7) inset;box-shadow:0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(255,255,255,0.7) inset;
	margin:6px auto 0 auto;
	padding:0 15px;
	cursor:pointer;
	display:inline-block;
	position:relative;-moz-background-clip:padding-box;-webkit-background-clip:padding-box;background-clip:padding-box;
	height:40px;
	white-space:nowrap;
	outline-width:0}
	
button:active{-moz-box-shadow:0 1px 0 rgba(255,255,255,0.3),0 1px 3px rgba(0,0,0,0.7) inset;-webkit-box-shadow:0 1px 0 rgba(255,255,255,0.3),0 1px 3px rgba(0,0,0,0.7) inset;box-shadow:0 1px 0 rgba(255,255,255,0.3),0 1px 3px rgba(0,0,0,0.7) inset;opacity:1}
/*
 * Consistent box sizing and appearance
 */

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
input[type="search"] { -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }

/* 
 * Remove inner padding and border in FF3/4
 * www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ 
 */

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/* Remove default vertical scrollbar in IE6/7/8/9 */
textarea { overflow: auto; vertical-align: top; }

/* Colors for form validity */
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }


/* =============================================================================
   Tables
   ========================================================================== */

table {
    border-style: none;
    background:#97aab7;
    color:#000;
 }


/* =============================================================================
   Primary styles
   Author: 
   ========================================================================== */








/* =============================================================================
   Non-semantic helper classes
   Please define your styles before this section.
   ========================================================================== */

/* For image replacement */
.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }

/* Hide for both screenreaders and browsers:
   css-discuss.incutio.com/wiki/Screenreader_Visibility */
.hidden { display: none; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: by Jon Neal.
  www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: drupal.org/node/897638 */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* Contain floats: nicolasgallagher.com/micro-clearfix-hack/ */ 
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }



/* =============================================================================
   PLACEHOLDER Media Queries for Responsive Design.
   These override the primary ('mobile first') styles
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 480px) {
  /* Style adjustments for viewports 480px and over go here */

}

@media only screen and (min-width: 768px) {
  /* Style adjustments for viewports 768px and over go here */

}

table.altrowstable {
	font-family: verdana,arial,sans-serif;
	font-size:10px;
	color:#333333;
	border-width: 0px;
	border-color: #a9c6c9;
	border-collapse: collapse;
}
table.altrowstable th {
	border-width: 0px;
	padding: 4px;
	border-style: solid;
	border-color: #a9c6c9;
}
table.altrowstable {
	border-width: 0px;
	padding: 4px;
	border-style: solid;
	border-color: #a9c6c9;
}
.oddrowcolor{
	background-color:#d4e3e5;
}
.evenrowcolor{
	background-color:#c3dde0;
}

.styled-select {
   width: 240px;
   height: 34px;
   overflow: hidden;
   background: url(new_arrow.png) no-repeat right #ddd;
}

td{
    -moz-box-shadow:inset 0 0 2px 0 #111;
    -webkit-box-shadow:inset 0 0 2px 0 #222;
    box-shadow:inset 0 0 10px 0 #222;
    border: 1px solid #000;
    display: block;
}

html{height:100%;-webkit-font-smoothing:antialiased;margin:0;padding:0;border:0;overflow-y:scroll}
body{height:100%;font-family:Arial,'Helvetica Neue',Helvetica,sans-serif;text-align:center;margin:0;padding:0;border:0;background:#3c5a76 url('/images/status_bg.png') no-repeat center}
input,button,option{font-family:Arial,'Helvetica Neue',Helvetica,sans-serif}
#container{width:400px}
h1{color:#fff;font-size:30px;font-weight:bold;text-shadow:0 1px 4px rgba(0,0,0,0.68);letter-spacing:-1px;margin:0}

h4{color:#fff;font-size:16px;font-weight:bold;text-shadow:0 1px 2px rgba(0,0,0,0.68);letter-spacing:-1px;margin:0}

betabar{
        
	background:#ff4800;  
        color:#fff;  
        text-shadow:0 -1px 1px rgba(0,0,0,0.5);
}

h3{
	background:#ff4800;  
        color:#fff;  
        text-shadow:0 -1px 1px rgba(0,0,0,0.5);
}

h2{
	background:#f60;  
        color:#fff;  
        text-shadow:0 -1px 1px rgba(0,0,0,0.5);
}    

embossed{
        color:#fff;  
        text-shadow: -1px -1px white, 1px 1px #333);
}
.sorry{color:#243748;font-size:18px;line-height:24px;text-shadow:0 1px 1px rgba(255,255,255,0.33)}
.sorry a{color:#243748}.tumbeasts_image{width:546px;height:329px;background:url('/images/oh_dear.png') no-repeat 0 0;margin-left:-73px}

#light-on-color  
    {  
        background:#f60;  
        color:#fff;  
        text-shadow:0 -1px 1px rgba(0,0,0,0.5);  
}  


info{
        background:#abd0ed;  
        color:#999;  
        text-shadow:0 0 1px rgba(0,0,0,0.25);  
        border-radius: 5px;
        padding-right: 10;  
        padding-left: 10;
        top: 3px;
        bottom: 3px;
        white-space: normal;
        box-shadow: 2px 2px 3px #888888;
        -moz-border-radius: 5px;
        -moz-box-shadow: 5px 5px 5px black;
        -webkit-box-shadow: 5px 5px 5px black;
}

#login{ width:730px; margin-left: auto; margin-right: auto;}

div{
position: absolute;
top: 5px;
left: 30%;
bottom: 20px;
width:40%;
height:165px;
margin-left: auto;
margin-right: auto;
padding-top: 20px;  
padding-right: 0px;  
padding-bottom: 5px;  
padding-left: 10px;
vertical-align: center;
background-color:#999999;
border-radius: 5px;
box-shadow: 2px 2px 3px #888888;
-moz-border-radius: 5px;
-moz-box-shadow: 5px 5px 5px black;
-webkit-box-shadow: 5px 5px 5px black;
}
