html{height:100%;-webkit-font-smoothing:antialiased;margin:0;padding:0;border:0;overflow-y:scroll}body{height:100%;font-family:Arial,'Helvetica Neue',Helvetica,sans-serif;text-align:center;margin:0;padding:0;border:0;background:#3c5a76 url('/images/status_bg.png?2') no-repeat center}input,button,select,option{font-family:Arial,'Helvetica Neue',Helvetica,sans-serif}#container{width:400px}h1{color:#fff;font-size:30px;font-weight:bold;text-shadow:0 1px 4px rgba(0,0,0,0.68);letter-spacing:-1px;margin:0}.sorry{color:#243748;font-size:18px;line-height:24px;text-shadow:0 1px 1px rgba(255,255,255,0.33)}.sorry a{color:#243748}.tumbeasts_image{width:546px;height:329px;background:url('/images/oh_dear.png') no-repeat 0 0;margin-left:-73px}a.button{color:rgba(0,0,0,0.72)!important;font-size:17px;font-weight:bold;font-family:Arial,'Helvetica Neue',Helvetica,sans-serif;line-height:40px;text-align:center;text-decoration:none;text-shadow:0 1px 1px rgba(255,255,255,0.37);background:url('http://assets.tumblr.com/images/register_login/button_submit.gif') no-repeat left 0;border:1px solid #2a3f56;-moz-border-radius:6px;-webkit-border-radius:6px;border-radius:6px;-moz-box-shadow:0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(255,255,255,0.7) inset;-webkit-box-shadow:0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(255,255,255,0.7) inset;box-shadow:0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(255,255,255,0.7) inset;margin:6px auto 0 auto;padding:0 15px;cursor:pointer;display:inline-block;position:relative;-moz-background-clip:padding-box;-webkit-background-clip:padding-box;background-clip:padding-box;height:40px;white-space:nowrap;outline-width:0}a.button:active{-moz-box-shadow:0 1px 0 rgba(255,255,255,0.3),0 1px 3px rgba(0,0,0,0.7) inset;-webkit-box-shadow:0 1px 0 rgba(255,255,255,0.3),0 1px 3px rgba(0,0,0,0.7) inset;box-shadow:0 1px 0 rgba(255,255,255,0.3),0 1px 3px rgba(0,0,0,0.7) inset;opacity:1}
.h1{color:#fff;font-size:30px;font-weight:bold;text-shadow:0 1px 4px rgba(0,0,0,0.68);letter-spacing:-1px;margin:0}
.h2{
        background:#f60;
        color:#fff;
        text-shadow:0 -1px 1px rgba(0,0,0,0.5);

}

.h3{
        background:#f70;
        color:#fff;
        text-shadow:0 -1px 1px rgba(0,0,0,0.5);

}



